[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
django = "==2.2.5"

[packages]
django = "==2.2.5"
django-seed = "*"
requests = "*"
django-dotenv = "*"
pipenv-to-requirements = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
