{% extends "base.html" %}

{% block page_name %}
    Exercise
{% endblock page_name %}

{% block content %}
    <div class="w-75vh mt-32 mx-auto flex items-center justify-center border-b pb-6">
        <span class="text-4xl font-bold">Just do it</span>
    </div>
    <div class="container lg:w-9/12 md:w-1/2 xl:w-full mx-auto my-5 flex items-center justify-center p-6 mb-10">
        <div>
            <button id="squat" class="btn container h-25vh w-25vh rounded-xl bg-gray-200 text-gray-700 text-xl font-medium shadow-xl hover:shadow-2xl mx-5">앉았다 일어서기</button>
            <div id="sq_modal" class="modal modal_hidden">
                    <div class="modal__overlay"></div>
                    <div class="modal__content">
                        {% include 'exercise/squat-body.html' %}
                    </div>
            </div>
            <script>
                    const openButton = document.getElementById("squat");
                    const modal = document.querySelector(".modal");
                    const overlay = modal.querySelector(".modal__overlay");
                    const closeBtn = modal.querySelector(".close_button");
                    const openModal = () => {
                        modal.classList.remove("modal_hidden");
                    }
                    const closeModal = () => {
                        modal.classList.add("modal_hidden");
                    }
                    overlay.addEventListener("click", closeModal);
                    closeBtn.addEventListener("click", closeModal);
                    openButton.addEventListener("click", openModal);
            </script>
        </div>
        <div>
            <button id="burpee" class="btn container h-25vh w-25vh rounded-xl bg-teal-400 text-xl text-white font-medium shadow-xl hover:shadow-2xl mx-5">버피테스트</button>
            <div class="b_modal modal_hidden">
                    <div class="b_modal__overlay"></div>
                    <div class="b_modal__content">
                        {% include 'exercise/burpee-body.html' %}
                    </div>
            </div>
            <script>
                    const b_openButton = document.getElementById("burpee");
                    const b_modal = document.querySelector(".b_modal");
                    const b_overlay = b_modal.querySelector(".b_modal__overlay");
                    const b_closeBtn = b_modal.querySelector(".close_button");
                    const b_openModal = () => {
                        b_modal.classList.remove("modal_hidden");
                    }
                    const b_closeModal = () => {
                        b_modal.classList.add("modal_hidden");
                    }
                    b_overlay.addEventListener("click", b_closeModal);
                    b_closeBtn.addEventListener("click", b_closeModal);
                    b_openButton.addEventListener("click", b_openModal);
            </script>
        </div>
        <div>
            <button id="stretch" class="btn container h-25vh w-25vh rounded-xl bg-red-500 text-xl text-white font-medium shadow-lg hover:shadow-xl mx-5">스트래칭</button>
            <div class="s_modal modal_hidden">
                    <div class="s_modal__overlay"></div>
                    <div class="s_modal__content">
                      {% include 'exercise/stretch-body.html' %}
                    </div>
            </div>
            <script>
                    const s_openButton = document.getElementById("stretch");
                    const s_modal = document.querySelector(".s_modal");
                    const s_overlay = s_modal.querySelector(".s_modal__overlay");
                    const s_closeBtn = s_modal.querySelector(".close_button");
                    const s_openModal = () => {
                        s_modal.classList.remove("modal_hidden");
                    }
                    const s_closeModal = () => {
                        s_modal.classList.add("modal_hidden");
                    }
                    s_overlay.addEventListener("click", s_closeModal);
                    s_closeBtn.addEventListener("click", s_closeModal);
                    s_openButton.addEventListener("click", s_openModal);
            </script>
        </div>
            <!-- <a href="https://squat-aitrainer.netlify.app" class="container h-25vh w-50vh rounded-xl border border-gray-400 mx-5">Squat</a>
            <a href="https://burpee-aitrainer.netlify.app" class="container h-25vh w-50vh rounded-xl border border-gray-400 mx-5">Burpee</a>
            <a href="https://stretch-aitrainer.netlify.app" class="container h-25vh w-50vh rounded-xl border border-gray-400 mx-5">Stretch</a> -->
    </div>
    <div class="h-25vh">
        <div class="sq_desc desc_hidden w-8/12 mx-auto border-t border-gray-400 flex flex-col items-center">
          <span class="my-5 text-xl font-semibold text-teal-500"><i class="fas fa-info-circle mr-2"></i>온동 시작 전 안내</span>
          <ul class="">
            <li class="text-gray-700 text-lg font-light my-1"><i class="fas fa-dumbbell mr-4 text-red-500"></i>Chrome 브라우저 사용을 권장합니다.</li>
            <li class="text-gray-700 text-lg font-light my-1"><i class="fas fa-dumbbell mr-4 text-gray-600"></i>웹캠을 PC에 연결하세요.(노트북 카메라 사용 가능)</li>
            <li class="text-gray-700 text-lg font-light my-1"><i class="fas fa-dumbbell mr-4 text-red-500"></i>Start 버튼을 클릭하고 왼쪽 상단 팝업창 카메라 권한을 허용해주세요.</li>
            <li class="text-gray-700 text-lg font-light my-1"><i class="fas fa-dumbbell mr-4 text-gray-600"></i>AI가 카메라를 통해 신체를 인식합니다.</li>
            <li class="text-gray-700 text-lg font-light my-1"><i class="fas fa-dumbbell mr-4 text-red-500"></i>AI 인식이 안되면 카메라에 신체가 꽉 차도록 위치를 조정하세요.</li>
          </ul>
        </div>
        <!-- <script>
            const sq_button = document.getElementById("squat");
            const sq_desc = document.querySelector(".sq_desc")
            const sq_appear = () => {
                sq_desc.classList.remove("desc_hidden")
            }
            const sq_disappear = () => {
                sq_desc.classList.add("desc_hidden")
            }
            sq_button.addEventListener("mouseover", sq_appear)
            sq_button.addEventListener("mouseout", sq_disappear)
        </script>

        <div class="bp_desc desc_hidden w-8/12 mx-auto border border-gray-400">
            Burpee Description
        </div>
        <script>
            const bp_button = document.getElementById("burpee");
            const bp_desc = document.querySelector(".bp_desc")
            const bp_appear = () => {
                bp_desc.classList.remove("desc_hidden")
            }
            const bp_disappear = () => {
                bp_desc.classList.add("desc_hidden")
            }
            bp_button.addEventListener("mouseover", bp_appear)
            bp_button.addEventListener("mouseout", bp_disappear)
        </script>

        <div class="st_desc desc_hidden w-8/12 mx-auto border border-gray-400">
            Stretch Description
        </div>
        <script>
            const st_button = document.getElementById("stretch");
            const st_desc = document.querySelector(".st_desc")
            const st_appear = () => {
                st_desc.classList.remove("desc_hidden")
            }
            const st_disappear = () => {
                st_desc.classList.add("desc_hidden")
            }
            st_button.addEventListener("mouseover", st_appear)
            st_button.addEventListener("mouseout", st_disappear)
        </script> -->

    </div>
    


    
    

{% endblock content %}