{% extends "base.html" %}

{% block page_name %}
    Exercise
{% endblock page_name %}

{% block content %}
    <div class="container lg:w-5/12 md:w-1/2 xl:w-full min-h-75vh flex flex-col items-center">
        <div class="container lg:w-5/12 md:w-1/2 xl:w-3/4 min-h-75vh w-full h-full flex items-center justify-between mt-10">
            <a href="https://aitrainer.netlify.app" class="container lg:w-5/12 md:w-1/2 xl:w-6/12 h-25vh border border-gray-400 mx-5">Squat</a>
            <a href="#" class="container lg:w-5/12 md:w-1/2 xl:w-6/12 h-25vh border border-gray-400 mx-5">Squat</a>
        </div>
        <div class="container lg:w-5/12 md:w-1/2 xl:w-3/4 min-h-75vh w-full h-full flex items-center justify-between mt-10">
            <a href="#" class="container lg:w-5/12 md:w-1/2 xl:w-6/12 h-25vh border border-gray-400 mx-5">Squat</a>
            <a href="#" class="container lg:w-5/12 md:w-1/2 xl:w-6/12 h-25vh border border-gray-400 mx-5">Squat</a>
        </div>
    </div>
    
{% endblock content %}