<header class="header">
    <div class="title">Teachable Machine Pose Model - Squat</div>
</header>

<button class="link_button w-40 h-12 mt-4 mb-20 rounded-md text-lg pb-1 bg-teal-500 text-white text-center">
  <a href="https://squat-aitrainer.netlify.app" target="_blank" class="container w-full h-full">Go to exercise</a>
</button>
<div class="icon container w-75vh h-25vh mx-auto">
  <img src="https://user-images.githubusercontent.com/59245627/91659436-6d0d2600-eb0a-11ea-939f-cef00c3feb92.jpg" class="icon-img w-75vh h-50vh mx-auto" alt="noImage">
</div>
<ul class="w-75vh mx-auto mt-12 pt-4 flex flex-col items-start text-lg text-gray-700 font-light border-t border-gray-400">
  <li><i class="fas fa-check-circle mr-3 ml-24 text-teal-500"></i>카메라에 맞춰 서세요.</li>
  <li><i class="fas fa-check-circle mr-3 ml-24 text-gray-500"></i>허벅지가 지면과 수평이 되도록 앉았다 일어납니다.</li>
  <li><i class="fas fa-check-circle mr-3 ml-24 text-teal-500"></i>내가 정한 목표만큼 반복해요.</li>
</ul>
<button class="close_button w-40 h-12 mt-10 rounded-md text-lg pb-1 bg-red-500 text-white text-center">Close</button>

