<header class="header">
    <div class="title">Teachable Machine Pose Model - Stretch</div>
</header>

<button class="link_button w-40 h-12 mt-4 mb-16 rounded-md text-lg pb-1 bg-teal-500 text-white text-center">
  <a href="https://stretch-aitrainer.netlify.app" target="_blank" class="container w-full h-75vh">Go to exercise</a>
</button>
<div class="icon container w-75vh h-25vh mx-auto">
  <img src="https://user-images.githubusercontent.com/59245627/91659396-30d9c580-eb0a-11ea-8ddd-7e6a9498b8b4.jpg" class="icon-img w-75vh h-25vh mx-auto" alt="noImage">
</div>
<ul class="w-75vh mx-auto mt-12 pt-4 flex flex-col items-start text-lg text-gray-700 font-light border-t border-gray-400">
  <li><i class="fas fa-check-circle mr-3 ml-24 text-teal-500"></i>카메라에 맞춰 서세요.</li>
  <li><i class="fas fa-check-circle mr-3 ml-24 text-gray-500"></i>양 손을 깍지 끼고 위로 쭉 뻗습니다.</li>
  <li><i class="fas fa-check-circle mr-3 ml-24 text-teal-500"></i>옆으로 몸을 기울여 옆구리를 늘려줍니다.</li>
  <li><i class="fas fa-check-circle mr-3 ml-24 text-gray-500"></i>안내에 맞춰 8초간 몸을 늘려주고 반대쪽도 스트레칭 합니다.</li>
</ul>
<button class="close_button w-40 h-12 mt-8 rounded-md text-lg pb-1 bg-red-500 text-white text-center">Close</button>

