{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <title>{% block page_name %}{% endblock page_name %} | AI Trainer</title>
  </head>

  <body class="text-gray-800 mt-24">
    {% include 'partials/messages.html' %}
    
    <header
      class="container max-w-full flex items-center justify-between px-6 h-20 border-b border-gray-400 bg-white fixed inset-0"
    >
    {% include "partials/nav.html" %}
    </header>

    <div>
      {% block content %}{% endblock content %}
    </div>

    {% include "partials/footer.html" %}
  </body>
</html>
